* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-bar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    width: 100%;
    font-family: sans-serif;
}
.nav-img {
    display: flex;
    height: 80px;
    width: 160px;
}
.nav-img img:hover {
    cursor: pointer;
}
.nav-links .active{
    color: red;
    transform: scale(1.1)
}
.nav-links {
    display: flex;
    justify-content: space-around;
}
.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;
}
.extra-nav-links {
    display: none;
    font-size: 15px;
}
.profile-nav-links {
    display: none;
}
.nav-links a:hover{
    color: red;
    transform: scale(1.1);
}
.hamburger-icon {
    display: none;
}

/* Profile Username */

.profile-container {
    display: flex;
    white-space: nowrap;
    right: 0;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    min-width: 200px;
}
.profile-container:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.username {
    padding-left: 10px;
    padding-bottom: 20px;
}
.credits-cash {
    color: #2c2c2c;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 60px;
}
.profile-img img {
    height: 50px;
    border-radius: 50%;
}

/* Red Alert Bar */

.scrolling-red-alert {
    position: absolute;
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin-top: 5px;
    background-color: red;
}
.scrolling-red-alert h2 {
    text-transform: uppercase;
    white-space: nowrap; /*Keeps text in straight line along red alert*/
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: white;
    transform: translateX(100%);
    animation: scrolling 25s linear infinite;
}
@keyframes scrolling {
    0% {
        transform: translateX(100%) ;
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Featured Games */

.featured-games {
    display: flex; /* Keeping Images in Middle */
    justify-content: center;
    width: 100%;
    height: 600px;
}
.Card-Container {
    display: flex; /* Keeping Images Side by Side */
    margin-inline: auto;
}
.item1 {
    margin-top: 60px;
    padding-right: 25px;
}
.item1:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.featured-games h1 {
    padding-top: 15px;
    color: white;
    font-weight: 100;
    font-family: 'poppins';
    text-align: center;
}

/* Get Started | About | Community Section */ 

.started-about-community-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    width: 75%;
    height: 500px;
}
.about-section {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 40%;
    min-width: 500px;
}
.about-section .active {
    color: red;
}
.about-img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10vh;
    float: left;
    height: 200px;
    width: 200px;
}
.about-section-paragraph {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-section-paragraph p {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: #2c2c2c;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    min-width: 200px;
}
.about-section-tabs a {
    padding: 15px 15px;
    color: #1e1e1e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}
.about-section-tabs a:hover {
    color: red;
    transform: scale(1.05);
}

/* TOP EARNER SECTION */

.container--top-earners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    width: 100%;
    height: auto;
    padding: 20px 15px;
    margin: 0 auto;

}
.firstplace-card,
.secondplace-card,
.thirdplace-card {
    position: relative;
    background-color: #c4c4c4;
    min-width: 450px;
    margin-top: 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 0px black;
}
.firstplace-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.sectionEarners h1{
    color: #1e1e1e;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.sectionEarners .container--top-earners h2{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: #1e1e1e;
}
.firstplace-card {
    height: 600px;
    width: 600px;
    box-shadow: 0px 0px 30px gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.te1-userinfo-container {
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.te1username {
    color: #2c2c2c;
    font-size: 5vh;
    letter-spacing: 5px;
}
.te1-membership {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;

}
.secondplace-card {
    height: 450px;
    width: 400px;
}
.thirdplace-card {
    height: 400px;
    width: 400px;
}
.firstplace-badgecontainer {
    position: absolute;
    top: 0;
    margin-top: -50px;
}
.firstbadge {
    height: 350px;
}

/* FOOTER */

footer {
    background-color: #c4c4c4;
    width: 100%;
    height: 200px;
}
footer h2 {
    color: white;
    padding-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
footer p{
    color: #1e1e1e;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.contact-icons h4 {
    text-transform: uppercase;
    font-size: 12px;
}

/* MOBILE VERSION */

@media only screen and (max-width: 700px) {
    .nav-bar{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-img {
        height: 60px;
    }
    .nav-links {
        position: absolute;
        display: block;
        border-bottom-right-radius: 25px;
        background-color: white;
        top: 75px;
        left: 0;
        z-index: 2;
    }
    .nav-links a {
        display: block;
        text-decoration: none;
        color: #1e1e1e;
        margin-top: 3px;
        letter-spacing: 1px;
        font-size: 17px;
        font-weight: bold;
    }
    .profile-nav-links {
        position: absolute;
        display: block;
        border-bottom-left-radius: 25px;
        padding: 15px 15px;
        background-color: white;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    .profile-nav-links a {
        display: block;
        text-decoration: none;
        color: #1e1e1e;
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: bold;
    }
    .extra-nav-links {
        display: block;
    }
    .nav-links .active{
        color: #1e1e1e;
        transform: scale(1);
    }
    .nav-links a:hover{
        color: #1e1e1e;
        transform: scale(1);
    }

    /* Profile Username */

    .profile-container {
        order: 3;
    }
    .profile-container:hover {
        transform: scale(1);
        cursor: pointer;
    }
    .nav-img {
        order:2;
        margin-left: 10px;
    }
    .hamburger-icon {
        display: block;
        margin-left: 20px;
    }

    /* RED ALERT MOBILE FIXED */

    .scrolling-red-alert {
        position: absolute;
        width: 100%;
        height: 20px;
        overflow: hidden;
        margin-top: 5px;
        background-color: red;
    }
    .scrolling-red-alert h2 {
        text-transform: uppercase;
        white-space: nowrap; /*Keeps text in straight line along red alert*/
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        font-family: sans-serif;
        text-align: center;
        color: white;
        transform: translateX(100%);
        animation: scrolling 25s linear infinite;
    }
    @keyframes scrolling {
        0% {
            transform: translateX(100%) ;
        }
        100% {
            transform: translateX(-100%);
        }
    }

    /* FEATURED GAMES */

    /* This is Scroll Event on Mobile, removed hover scale. */
    
    .Card-Container {
        max-height: 700px;
        width: 300px;
        display: flex;
        overflow-x: auto;
        gap: var(--size-3);
        
    }
    .Card-Container::-webkit-scrollbar{
        width: 0;
        background-color: #c4c4c4;
    }
    .item1:hover{
        transform: scale(1);
        cursor: pointer;
    }

    /* GETTING STARED | ABOUT | COMMUNITY SECTION */

    .started-about-community-container {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        margin: 0 auto;
        width: min(90%, 70.5rem);
        height: 900px;
    }
    .about-section{
        margin-top: 20px;
        min-width: 300px;  
    }
    .about-section-tabs a {
        padding: 15px 5px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        font-family: sans-serif;
    
    
    }
    .about-img-section {
        margin: 0 auto;
    }

    /* TOP EARNERS */ 
    
    .container--top-earners {
        flex-direction: column-reverse;
        margin: 50px 0;
        display: block;
        height: 1200px;
    }
    .firstplace-card,
    .secondplace-card,
    .thirdplace-card {
        height: 400px;
        width: 100%;
        margin-bottom: 25px;
    }
}