* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav Bar Section */ 
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-family: sans-serif;
}
.nav-img {
    display: flex;
    height: 80px;
    width: 160px;
}
.nav-img img {
    height:auto;
}
.nav-img img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.nav-links {
    border-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;

}
.nav-links a:hover{
    color: red;
    transform: scale(1.1);
}
.nav-links .active{
    color: red;
    transform: scale(1.1)
}
.login-register-container {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 170px;
    

}
.login-register-container a {
    text-decoration: none;
    color: white;

}
.login-register-container,
.login,
.signup {
    padding: 9px 0px;  
}
.login-register-container .login {
    background-color: #ff4c4c;
    height: 30px;
    width: 65px;
    padding-top: 5px;
    border-radius: 25px;
    text-align: center;
}
.login-register-container .signup {
    background-color: #ff4c4c;
    height: 30px;
    padding-top: 5px;
    width: 85px;
    border-radius: 25px;
    text-align: center;
}
.login-register-container .login:hover {
    background-color: red;
    transform: scale(1.1);
}
.login-register-container .signup:hover {
    background-color: red;
    transform: scale(1.1);
}


/* Featured Tournament Section */ 

.featuredTournament {
    display: flex;
    justify-content: center;
}
.featuredContainer {
    width:80%;
    height: 500px;
    background-color: #222;
    margin-bottom: 50px;
    margin-top: 75px;
    border-radius: 50px;
}
.featuredVanguard {
    object-fit: cover;
    border-radius: 50px;
    width: 100%;
    height: 100%;
}

.featuredVanguard:hover {
    transform: scale(1.02);
    cursor: pointer;
    border-style: none;
    border-width: 1px;
    box-shadow: 0px 0px 2px black;
}

/* Regular Tournaments Section */ 
.sectionTournaments {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container--tournaments {
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 50px;

}
.sectionTournaments .container--tournaments {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sectionTournaments h1{
    padding-top: 5px;
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    font-family: sans-serif;
}
.flex-tournament {
    background-color: #222;
    margin: 5px 10px;
    margin-bottom: 25px;
    width: 400px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}
.sectionTournaments p {
    color: rgba(162, 0, 0, 1);
    font-size: 10px;
    font-family: sans-serif;
    float: right;
    padding: 0;
}
.sectionTournaments p:hover {
    cursor: pointer;
}
.flex-tournament .vanguardimg {
    opacity: 1;
    object-fit: cover;
    width: 400px;
    height: 250px;
    border-radius: 25px;
}
.flex-tournament .vanguardimg:hover {
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    transform: scale(1.05);
}